.header {
  width: 70%;
  height: 10%;
  border: 1px solid red;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  width: 20%;
  border: 1px solid #2d314d;
}

.header-registration__links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 0rem;
  padding: 0.25rem;
}

.header-registration__links__forgot {
  margin-right: 1rem;
}

.header-registration__login {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem;
}

.header-registration__login input, .header-registration__login button {
  outline: 80%;
  padding: 0.45rem;
  border: none;
  background-color: white;
  margin-right: 0.25rem;
  border-radius: 6px !important;
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
  }
  .header nav {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    width: 99%;
  }
  .header nav {
    margin: 0 5%;
  }
}

.itemList {
  width: 70%;
  border: 2px solid #2d314d;
  padding: 0.5rem;
  margin: 1rem auto;
  height: 100vh;
  background-color: grey;
  text-align: center;
}

.itemList__gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  border: 1px solid red;
  padding: 1rem;
}

.itemList__item {
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border: 1px solid black;
}

.itemList__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.itemList__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.itemList__textContents {
  padding: 1.875rem;
  padding-bottom: 2.5rem;
  background-color: white;
}

.dashboard {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dashboardNav {
  width: 20%;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1rem;
  background-color: #2d314d;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 10rem;
}

.dashboardNav__items {
  color: white !important;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0.25rem;
  border-bottom: 1px solid yellow;
}

.dashboardNav__items:hover {
  color: green;
  text-decoration: underline;
}

.forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboardContent {
  width: 72%;
  padding: 1rem;
  border: 1px solid #7e7e72;
  margin: 0 1rem;
  color: white;
  background-color: #2d314d;
}

.dashboardContent__formContainer {
  border: 2px solid grey;
  width: 100%;
  height: 100%;
  display: block;
  padding: 1% 5%;
  margin: 0 7% 2% 3%;
}

.dashboardContent__title {
  display: block;
  padding: 1rem;
  margin: 1rem;
  color: white;
}

.adminFormsElement {
  margin-left: 1rem;
  padding: 0.25rem;
  display: block;
}

@media screen and (max-width: 512px) {
  .dashboardNav {
    font-size: 0.7rem;
    padding: 0.25rem;
  }
}

.MuiFormControl-root MuiTextField-root .MuiFormLabel-root {
  color: white !important;
}

.MuiFormControl-root {
  padding-bottom: 1rem;
}

.header {
  width: 100%;
  background-color: #2d314d;
  min-height: 20%;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left, .header__menuTexts {
  font-size: 1rem;
  color: white;
}

.header .menu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.header__menuTexts {
  margin-left: 1rem;
}

.header a {
  text-decoration: none;
  color: white !important;
}

.header a:hover {
  color: #000 !important;
}

@media only screen and (max-width: 512px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 2px solid green;
    font-size: 0.7rem;
  }
}
